*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $ff-exo;
  font-style: normal;
  font-weight: 500;
  color: $color-myrtle;
  margin: 0;
  padding: 0;
  background-color: $color-white-smoke;
}

img {
  display: block;
  object-fit: cover;
  height: auto;
}
