// Colors

$color-white:          #ffffff;
$color-black:          #000000;
$color-myrtle:         #21560F;
$color-white-smoke:    #f1f1f1;

// Typography

$ff-exo: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
