.hero {
  width: 100%;
  min-height: 630px;
  background-image: url("./images/bg-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @include vp-1023 {
    min-height: 530px;
    background-image: url("./images/bg-banner-tablet.png");
  }

  @include vp-767 {
    min-height: 450px;
    background-image: url("./images/bg-banner-mobile.png");
  }

  &__wrap {
    position: relative;
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include vp-1023 {
      min-height: 530px;
    }

    @include vp-767 {
      min-height: 450px;
    }
  }

  &__title {
    max-width: 684px;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-myrtle;
    margin: 0;

    @include vp-1023 {
      max-width: 442px;
      font-size: 32px;
    }

    @include vp-767 {
      max-width: 243px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__icon {
    position: absolute;
    width: 80px;
    height: 90px;
  }

  &__icon--figure-1 {
    top: 187px;
    right: 8%;

    @include vp-1023 {
      top: 85px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    @include vp-767 {
      top: 70px;
      left: 13%;
    }
  }

  &__icon--figure-2 {
    top: 273px;
    right: 7%;

    @include vp-1023 {
      top: auto;
      bottom: 85px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    @include vp-767 {
      bottom: 70px;
      left: 75%;
      transform: translateX(0);
    }
  }
}