.info {
    position: relative;
    padding: 204px 0;

    overflow: hidden;

    @include vp-1023 {
        padding: 100px 0;
    }

    &::after {
        content: "";
        width: 100vw;
        height: 2px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background-color: $color-myrtle;

        z-index: -1;
    }

    &__text {
        max-width: 83%;
        padding: 60px 24px;
        margin: 0 auto;

        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-align: center;
        color: $color-myrtle;

        background-color: $color-white-smoke;

        @include vp-1023 {
            max-width: 70%;

            line-height: 20px;
        }

        @include vp-767 {
            max-width: 86%;
            padding: 68px 24px;

            font-size: 16px;
        }
    }
}