.map {
    position: relative;

    .container {
        padding: 0;
        max-width: 1920px;
    }

    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__pin {
        position: absolute;

        display: flex;
        max-width: 200px;

        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $color-white;

        &:after {
            content: "";
            width: 1px;
            height: 40px;
            background-color: $color-white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 105%;

            @include vp-767 {
                height: 20px;
            }
        }

        @include vp-1023 {
            max-width: 150px;

            font-size: 14px;
            line-height: 24px;
        }

        @include vp-767 {
            max-width: 100px;

            font-size: 10px;
            line-height: 16px;
        }
    }

    &__pin--1 {
        top: 140px;
        left: 5%;

        @media (max-width: 1440px) {
            top: 80px;
            left: 3%;
        }

        @media (max-width: 1200px) {
            top: 44px;
        }

        @include vp-1023 {
            top: 110px;
            left: 2%;
        }

        @media (max-width: 900px) {
            top: 85px;
        }

        @media (max-width: 800px) {
            top: 67px;
        }

        @include vp-767 {
            top: 90px;
            left: 2%;
        }

        @media (max-width: 500px) {
            top: 38px;
        }

        @media (max-width: 400px) {
            top: 22px;
            left: 2%;
        }
    }

    &__pin--2 {
        top: 355px;
        left: 20%;

        @media (max-width: 1550px) {
            top: 275px;
        }

        @media (max-width: 1440px) {
            top: 238px;
            left: 16%;
        }

        @media (max-width: 1200px) {
            top: 200px;
        }

        @include vp-1023 {
            top: 240px;
            left: 17%;
        }

        @media (max-width: 900px) {
            top: 200px;
        }

        @media (max-width: 800px) {
            top: 170px;
        }

        @include vp-767 {
            top: 180px;
            left: 19%;
        }

        @media (max-width: 650px) {
            top: 150px;
        }

        @media (max-width: 600px) {
            top: 130px;
        }

        @media (max-width: 500px) {
            top: 115px;
            left: 16%;
        }

        @media (max-width: 450px) {
            top: 85px;
            left: 11%;
        }

        @media (max-width: 400px) {
            top: 78px;
            left: 11%;
        }
    }

    &__pin--3 {
        top: 125px;
        left: 34%;

        @media (max-width: 1550px) {
            top: 90px;
        }

        @media (max-width: 1440px) {
            top: 76px;
            left: 34%;
        }

        @media (max-width: 1200px) {
            top: 47px;
        }

        @media (max-width: 1100px) {
            top: 40px;
        }

        @include vp-1023 {
            top: 110px;
            left: 33%;
        }

        @media (max-width: 900px) {
            top: 85px;
        }

        @include vp-767 {
            top: 90px;
            left: 34%;
        }

        @media (max-width: 600px) {
            top: 60px;
            left: 31%;
        }

        @media (max-width: 500px) {
            top: 40px;
            left: 33%;
        }

        @media (max-width: 400px) {
            top: 30px;
            left: 31%;
        }
    }

    &__pin--4 {
        top: 222px;
        left: 49%;

        @media (max-width: 1550px) {
            top: 144px;
            left: 48%;
        }

        @media (max-width: 1440px) {
            top: 140px;
            left: 50%;
        }

        @media (max-width: 1200px) {
            top: 94px;
            left: 46%;
        }

        @include vp-1023 {
            top: 153px;
            left: 48%;
        }

        @media (max-width: 850px) {
            top: 113px;
            left: 46%;
        }

        @include vp-767 {
            top: 122px;
            left: 49%;
        }

        @media (max-width: 700px) {
            top: 108px;
            left: 47%;
        }

        @media (max-width: 600px) {
            top: 76px;
        }

        @media (max-width: 500px) {
            top: 58px;
            left: 45%;
        }

        @media (max-width: 400px) {
            top: 35px;
            left: 41%;
        }
    }

    &__pin--5 {
        bottom: 380px;
        right: 25%;

        @media (max-width: 1550px) {
            bottom: 285px;
            right: 25%;
        }

        @media (max-width: 1440px) {
            bottom: 285px;
            right: 25%;
        }

        @media (max-width: 1200px) {
            bottom: 50%;
        }

        @include vp-1023 {
            bottom: 295px;
            right: 23%;
        }

        @media (max-width: 850px) {
            bottom: 250px;
        }

        @include vp-767 {
            bottom: 205px;
            right: 25%;
        }

        @media (max-width: 700px) {
            bottom: 180px;
        }

        @media (max-width: 600px) {
            bottom: 160px;
        }

        @media (max-width: 500px) {
            bottom: 135px;
        }

        @media (max-width: 400px) {
            bottom: 115px;
            right: 19%;
        }
    }
}